@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #FDFFFF;
    color: black;
    font-family: 'Philosopher', sans-serif;
}

.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    margin-bottom: 1rem;
    font-size: 4rem;
    font-weight: 700;
}

.title-text {
    margin-bottom: 2rem;
    font-size: 2.5rem;
}

.kit-wrapper {
    border: 3px solid black;
    background-color: #B10F2E;
    width: 600px;
    height: 600px;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
}

.drum-kit-button {
    height: calc(33.333333% - 40px);
    width: calc(33.333333% - 40px);
    margin: 20px;
    border-radius: 15px;
    background-color: #DE7C5A;
    border: 3px solid black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.kit-letter {
    font-size: 3rem;
}
